body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0; /* Added to remove any default body margin */
}

.sticky-footer {
  background-color: #001137;
  color: white;
  padding: 18px 0; /* Removed margin-bottom property */
  text-align: center;
}

.logo {
  width: 30px;
  height: 30px;
  margin-right: 5px;
}

.footer .quick-links {
  list-style: none;
  padding: 0; /* Added padding: 0; to the ul element */
}

.footer .quick-links li {
  margin: 0.5rem 0;
}

.quick-links a {
  color: white;
}
